body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

p {
  margin-top: 5px;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(77, 94, 149);
}

a:hover {
  color: rgb(32, 38, 57);
}

form {
  float: left;
  margin-right: 3px;
}

.author {
  color: #dc9b41;
}

.author:hover {
  color: #bf8739;
}

.btn {
  background: rgb(63, 76, 119);
  border: rgb(63, 76, 119);
  padding: 3px 12px 3px 12px;
  border-radius: 6px;
}

.btn:hover {
  background: rgb(32, 38, 57);
}

.btn-secondary {
  background: #dc9b41;
  border: #dc9b41;
  padding: 3px 12px 3px 12px;
  border-radius: 6px;
  margin-top: 1px;
}

.btn-secondary:hover {
  background: #bf8739;
}

.container {
  padding: 60px 160px;
}

.card {
  border: none;
  border-radius: 6px;
  background: #fcfcfc;
}

.card-body {
  padding: 40px 40px;
}

.favorites {
  padding-bottom: 20px;
}

.city {
  padding-right: 40px;
}

.current {
  padding: 30px 0px 30px 0px;
}

.description {
  font-size: 20px;
}

.description:first-letter {
  text-transform: capitalize;
}

.current-temperature {
  font-size: 40px;
  padding-top: 15px;
}

.current-temperature img {
  margin-right: 5px;
  height: 120px;
  width: 120px;
}

.current-temperature .units {
  position: relative;
  font-size: 20px;
  top: -15px;
}

.current-details {
  padding-top: 30px;
}

.future {
  text-align: center;
}

.forecast {
  text-align: center;
}

.forecast .img {
  display: block;
  margin: 0 auto;
}

.forecast-day {
  font-weight: bold;
}

.forecast-temperature-min {
  opacity: 0.6;
}
